*{
    margin: 0;
    padding: 0;
    scroll-padding-top: 50px;
}

nav {
    height: 50px;
    background-color: #505bf3b2;
    color: #c8c8c8;
    display: flex;
    align-items: center;
    justify-content: end;
    list-style-type: none;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;

}
nav li{
    padding: 10px;
}
a {
    text-decoration: none;
    color: rgb(26, 63, 133);
}
a:hover{
color:#ffe4fa;
}

section{
    min-height: 480px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 10px;
    border: 2px dotted #ffffff;
}

section:hover{
    background-color: #f0ebff;
    color:rgb(26, 63, 133);
}
h1{
    color: rgb(45, 58, 173);
}
.comando-git{
    padding: 5px;
    font-size: 1.25rem;
    border: 3px solid #a793ff;
    background-color: #c9c8c8;
    color:#2957bb;
}

p{
    padding: 5px;
}

.conteudo{
    margin-top: 50px;
}